
*{ /*reset default margin and padding + sets the game font */
    margin: 0;
    padding: 0;
    font-family: 'Neucha', cursive;
}

body{ /*Background*/
    background-image: url(./img/background.jpg);
    background-repeat: repeat;
    background-size: 20rem;
    margin: 1rem 0 0 0;
}

.container{ /* Styles the game window */
    width: 20rem;
    margin: auto;
    background-color: rgb(240, 193, 107);
    border-radius: 3rem;
    border: 0.5rem solid rgb(68, 46, 6);
    box-shadow: 0.7rem 0.7rem 0.7rem black;
    text-align: center;
    align-content: center;
    padding: 3rem;
    font-size: 1.5rem;
}

#eventImage{ /* Set size for game image - the image will change */
    background-image: url('./img/potatomon_logo.svg');
    height: 16rem;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 2rem 0;
    
}


#playerInput{ /* Textbox styling */
    height: 2rem;
    padding: 0.3rem;
    width: 10rem;
    margin: 0.3rem;
    border: 0.2rem solid rgb(68, 46, 6); 
    font-size: 1rem;
}

#playerButton{ /* Button styling */
    -webkit-appearance: none;
    height: 3rem;
    width: 5rem;
    padding: 0.3rem;
    background-color: rgb(238, 210, 158);
    border-radius: 1.5rem;
    border: 0.2rem solid rgb(68, 46, 6); 
    font-size: 1rem;
}

/* Handle screensize*/

@media(min-width: 34em){
    .container{
        width: 30rem;
    }
}

@media(min-width: 48em){
    .container{
        width: 45rem;
    }
}


@media(min-width: 62em){
    .container{
        width: 54.5rem;
    }
}